<div class="container-wrapper">
  <div class="profile-credentials">
    <img
      [src]="user?.profilePicture || 'assets/images/avatar.png'"
      alt=""
      class="avatar-image"
      [matMenuTriggerFor]="!otherAccount ? menuAvatarImage : null"
    />

    <div class="profile-wrapper">
      <div class="user-profile">
        <h2 class="user-name">{{ user?.firstName }} {{ user?.lastName }}</h2>
        <button mat-raised-button class="edit-account-button black-button" (click)="editOrFollow()">
          {{ otherAccount ? followed ? 'Unfollow' : 'Follow' : 'Edit profile' }}
        </button>
      </div>

      <div class="activity-section">
        <p class="activity" (click)="onModalUser(false)">
          <span class="strong-text">{{ user?.followers?.length }}</span> followers
        </p>

        <p class="activity" (click)="onModalUser(true)">
          <span class="strong-text">{{ user?.follow_ups?.length }}</span> follow ups
        </p>

        <p class="activity">
          <span class="strong-text">{{ userPosts.length }}</span> posts
        </p>
      </div>
    </div>
  </div>

  <div class="posts-wrapper" *ngIf="userPosts.length > 0; else elseBlock">
    <app-user-page-card *ngFor="let post of userPosts" [post]="post"></app-user-page-card>
  </div>

  <ng-template #elseBlock>
    <p class="info-text">You have no post yet</p>
  </ng-template>

  <mat-menu #menuAvatarImage="matMenu" xPosition="before">
    <button mat-menu-item>Edit image</button>
    <input type="file" class="input-file" (change)="onChangeImage($event.target)" />
  </mat-menu>
</div>
