.container-wrapper {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-credentials {
    width: 100%;
    background-color: #ffff;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    gap: 90px;

    .avatar-image {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border: 1px solid rgb(240, 240, 240);
      border-radius: 50%;
      cursor: pointer;
    }

    .profile-wrapper {
      display: flex;
      flex-direction: column;
      gap: 38px;

      .user-profile {
        display: flex;
        gap: 26px;

        .user-name {
          margin: 0;
          font-size: 26px;
          font-weight: 500;
        }

        .edit-account-button {
          padding: 0px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      .activity-section {
        display: flex;
        gap: 20px;

        .activity {
          font-size: 19px;
          cursor: pointer;

          .strong-text {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.input-file {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  border: 1px solid black;
}
