.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  padding: 100px 0;
  gap: 40px;

  .form-title {
     font-size: 34px;
     font-weight: 500;
  }

  .form-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 60px;

    .field-style {
      width: 300px;
    }

    .black-button {
      padding: 10px;
      width: 50px;
    }
  }
}

.info-text {
  font-size: 24px;
  font-weight: 5000;
}

