<nav class="container">
  <div class="container-wrapper">
    <h1 class="logo" [routerLink]="['/userpage/home']">SocialUI</h1>

    <mat-form-field appearance="fill" class="field-style">
      <mat-label class="searchbar-label"
        ><mat-icon matSuffix fontSet="material-icons-outlined">search</mat-icon> Search</mat-label
      >
      <input type="text" name="email" matInput ngModel (ngModelChange)="onFilterSearchBar($event)" [matAutocomplete]="auto" />

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredUsers" class="containerOptions" (click)="onNavigate(option._id)">
          <div class="option-wrapper">
            <img [src]="option.profilePicture || 'assets/images/avatar.png'" alt="" class="option-image" />
            <p class="option-username">{{ option.firstName }} {{ option.lastName }}</p>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="menu-container">
      <mat-icon matSuffix fontSet="material-icons-outlined" class="nav-icon" (click)="openDialog()">add_box</mat-icon>
      <mat-icon matSuffix fontSet="material-icons-outlined" class="nav-icon" [matMenuTriggerFor]="menuProfile"
        >account_circle</mat-icon
      >
    </div>

    <mat-menu #menuProfile="matMenu" xPosition="after">
      <button mat-menu-item (click)="onUserPage()">Account profile</button>
      <button mat-menu-item (click)="onSettings()">Settings</button>
      <button mat-menu-item (click)="OnLogout()">Log out</button>
    </mat-menu>
  </div>
</nav>
