<div class="container">
  <div class="user-profile">
    <img [src]="post?.imageProfileUrl" alt="" class="image-account" />

    <div class="user-details">
      <p class="user-account">{{ post?.name }}</p>
      <p class="user-location">{{ post?.location }}</p>
    </div>
  </div>

  <img [src]="post.photo" alt="" class="image-card" />

  <div class="menu">
    <div class="rating-icons">
      <mat-icon matSuffix class="icons">favorite_plus</mat-icon>
      <mat-icon matSuffix class="icons">maps_ugc</mat-icon>
    </div>

    <mat-icon matSuffix class="icons">bookmark</mat-icon>
  </div>
</div>
