<div class="container">
  <form class="form-wrapper" [formGroup]="editAccountForm" (ngSubmit)="onEditAccount()">
    <h1 class="form-title grid-col-span-2">Edit account</h1>

    <fieldset class="field-style">
      <label for="firstName" class="label-input">
         First name
      </label>
      <input type="text" id="firstName" class="input-field" formControlName="firstName">
    </fieldset>

    <fieldset class="field-style">
      <label for="lastName" class="label-input">
         Last name
      </label>
      <input type="text" id="lastName" class="input-field" formControlName="lastName">
    </fieldset>

    <fieldset class="field-style grid-col-span-2">
      <label for="email" class="label-input">
         Email
      </label>
      <input type="text" id="email" class="input-field" formControlName="email">
    </fieldset>

    <fieldset class="field-style">
      <label for="birthday" class="label-input">
         Birthday
      </label>
      <input type="date" id="birthday" class="input-field" formControlName="birthday">
    </fieldset>

    <fieldset class="field-style">
      <label for="city" class="label-input">
         City
      </label>
      <input type="text" id="city" class="input-field" formControlName="city">
    </fieldset>

    <button mat-flat-button class="black-button grid-col-span-2" type="submit" [disabled]="editAccountForm.invalid">Send</button>
  </form>
</div>
